html
    head
        title
            |Stocks & Shares
    body
        include ./includes/head.jade

        div
            img(src='http://image.sinajs.cn/newchart/min/n/sh000001.gif')
            img(src='http://image.sinajs.cn/newchart/min/n/sz399001.gif')
        
        div
            table
                tbody
                    each value, index in sh
                        tr
                            td
                                a(href='stock/' + sh[index].code) #{sh[index].code}
                            td
                                a(href='stock/' + sh[index].code) #{sh[index].name}
                            
            table
                tbody
                    each value, index in sz
                        tr
                            td
                                a(href='stock/' + sz[index].code) #{sz[index].code}
                            td
                                a(href='stock/' + sz[index].code) #{sz[index].name}
                            
            table
                tbody
                    each value, index in cy
                        tr
                            td
                                a(href='stock/' + cy[index].code) #{cy[index].code}
                            td
                                a(href='stock/' + cy[index].code) #{cy[index].name}
        
        style
            include ../public/css/css.css
            include ../node_modules/bootstrap/dist/css/bootstrap.min.css
            include ../node_modules/bootstrap/dist/css/bootstrap-theme.min.css
        script(src='../node_modules/bootstrap/dist/js/bootstrap.min.js')
        script(src='include ../node_modules/jquery/dist/jquery.min.js')
        script(src='include ../node_modules/angular/angular.min.js')
